.line {
  fill: none;
  stroke: #f1c40f;
  stroke-width: 3px;
}

.smoothline {
  fill: none;
  stroke: #e74c3c;
  stroke-width: 3px;
}

.grid {
  stroke: #DDD;
  stroke-width: 1px;
  fill: none;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

.outdated {
  color: #cc3300;
}

.outdatedWarning {
  display: none;
}

.outdated:hover + .outdatedWarning {
  display: block;
  color: red;
}

body {}

li {
  margin-left: 1rem;
}

@media (min-width: 320px) and (max-width: 767px) {}
