.line {
	fill: none;
	stroke: #f1c40f;
	stroke-width: 3px;
}
.smoothline {
	fill: none;
	stroke: #e74c3c;
	stroke-width: 3px;
}
.grid {
	stroke: #DDD;
	stroke-width: 1px;
	fill: none;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

body {
	
}
